<div class="posts-container" *ngIf="posts; else noPosts">
    <article *ngFor="let post of posts">
        <h3><a routerLink="/posts/{{post.id}}">{{ post.title | titlecase | truncate: 30 :' '}}</a></h3>
        <div class="summary">
            <img src="{{ post.image }}" alt="{{ post.title }}">
            <caption>{{ post.caption | truncate }} <a routerLink="/posts/{{ post.id }}">Read&nbsp;more&nbsp;></a>
            </caption>
        </div>


        <p class="post-data">Posted: <time>{{ post.createdAt | date: 'yyyy-MM-dd HH:mm'}}</time> by:
            <a routerLink="users/{{ post.author[0].id }}">{{ post.author[0].name }}</a>
        </p>

    </article>
</div>

<ng-template #noPosts>No posts</ng-template>