@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Nunito&display=swap');

$main-color: rgb(238, 130, 238);
$secondary-color: rgb(253, 182, 45);
$text-color: #333;
$middle-gray: #666;
$main-font: 'Nunito', sans-serif;
$paragraph-font: 'Noto Serif', serif;
$gradient: linear-gradient(120deg, rgba(238, 130, 238, 1) 0%, rgba(253, 182, 45, 1) 100%);
$header-padding: 1.5rem;
$transition-time: 0.3s;
$input-radius: 0.5rem;
