@import '../assets/scss/vars.scss';
header {
    background: rgb(238, 130, 238);
    background: linear-gradient(120deg, rgba(238, 130, 238, 1) 0%, rgba(253, 182, 45, 1) 100%);
    padding: 1rem $header-padding;
    min-height: 15rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
h1 {
    margin: 0;
    font-weight: normal;
    font-size: 5rem;
}
div.container {
    max-width: 70rem;
    margin: 0 auto;
}
router-outlet + * {
    margin-top: 1rem;
    padding: 1.5rem;
}
