@import '../../../assets/scss/form-style.scss';

main {
    border-radius: $input-radius;
    margin: 1rem;
    padding: 1rem;
    div.post-content {
        display: flex;
        gap: 2rem;
    }

    p {
        &:first-of-type {
            font-weight: bold;
            margin-top: 0;
        }
        font-family: $paragraph-font;
        font-size: 1.1rem;
        line-height: 1.7em;
        text-align: justify;
    }
    img {
        height: 300px;
        width: 400px;
        border-radius: $input-radius;
        border: 2px solid mix($main-color, black, 80%);
    }
}
