@import '../../../assets/scss/vars.scss';
:host {
    font-size: 1.1rem;
}
ul {
    margin: 0;

    display: flex;
    justify-content: flex-end;
    background: linear-gradient(120deg, rgba(238, 130, 238, 0.5) 0%, rgba(253, 182, 45, 0.7) 100%);
    clip-path: polygon(0% 0%, 0 0, 100% 0%, 100% 100%, 85% 100%, 45% 20%);
}
li {
    list-style-type: none;
    padding: 1rem $header-padding;
    transition: background-color $transition-time;
    a {
        color: $text-color;
        text-decoration: none;
    }
    &:hover {
        background-color: rgba($secondary-color, 0.8);
    }
}
